<!-- wp:template-part {"slug":"header","theme":"home-decorative-items","tagName":"header"} /-->

<!-- wp:pattern {"slug":"home-decorative-items/banner-block"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0px","bottom":"0"}}}} -->

    <main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0px;padding-right:0;padding-bottom:0;padding-left:0">

        <!-- wp:pattern {"slug":"home-decorative-items/about-us"} /-->

        <!-- wp:pattern {"slug":"home-decorative-items/tiblog"} /-->

    </main>

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->